h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Cumplir con el protocolo de notificación obligatoria de los niños menores de 5 años identificados con desnutrición aguda según procedimientos establecidos.





