.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Eventos: 
            | Sucesos o circunstancias que pueden modificar o incidir en la situación de salud de un individuo o una comunidad; se clasifican en condiciones fisiológicas, enfermedades, discapacidades y muertes; factores protectores y factores de riesgo relacionados con condiciones del medio ambiente, consumo y comportamiento; acciones de protección específica, detección temprana y atención de enfermedades y demás factores determinantes asociados (INS, 2017).  
        hr

        p
            strong.mr-2 Eventos de interés en salud pública:
            | Aquellos eventos considerados como importantes o trascendentes para la salud colectiva por parte del Ministerio de Salud y Protección Social, teniendo en cuenta criterios de frecuencia, gravedad, comportamiento epidemiológico, posibilidades de prevención, costo-efectividad de las intervenciones, e interés público; que además, requieren ser enfrentados con medidas de salud pública (INS, 2017). 
        hr

        p
            strong.mr-2 Protocolo de vigilancia en salud pública:
            | Es la guía técnica y operativa que estandariza los criterios, procedimientos y actividades que permiten sistematizar las actividades de vigilancia de los eventos de interés en salud pública (Decreto 3518, 2006). 

        hr

        p
            strong.mr-2 Sistema de vigilancia en salud pública (Sivigila): 
            | Conjunto de usuarios, normas, procedimientos, recursos técnicos, financieros y de talento humano, organizados entre sí para la recopilación, análisis, interpretación, actualización, divulgación y evaluación sistemática y oportuna de la información sobre eventos en salud, para la orientación de las acciones de prevención y control en salud pública (Derecto 3518, 2006). 

        hr

        p
            strong.mr-2 Unidad notificadora:
            | Es la entidad pública responsable de la investigación, confirmación y configuración de los eventos de interés en salud pública, con base en la información suministrada por las UPGD y cualquier otra información obtenida a través de procedimientos epidemiológicos (Decreto 3518, 2006). 

        hr

        p
            strong.mr-2 Unidad Primaria Generadora de Datos - UPGD:
            | Es la entidad pública o privada que capta la ocurrencia de eventos de interés en salud pública y genera información útil y necesaria para los fines del sistema de vigilancia en salud pública Sivigila (Decreto 3518, 2006).          

        hr

        p
            strong.mr-2 Vigilancia en salud pública:
            | Función esencial asociada a la responsabilidad estatal y ciudadana de protección de la salud, consistente en el proceso sistemático y constante de recolección, análisis, interpretación y divulgación de datos específicos relacionados con la salud, para su utilización en la planificación, ejecución y evaluación de la práctica en salud pública (Decreto 780 de 2016).          

        hr