include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas
 

    .jumbotron.bg-white.referencias

        +referenciaItem("Asamblea General de las Naciones Unidas. (1989). Convencion sobre los derechos del niño. ","")
        
        +referenciaItem("Instituto Nacional de Salud. (2017). Protocolo de vigilancia en salud pública, desnutrición aguda moderada y severa en menores de cinco años, código 113.","https://www.ins.gov.co/buscador-eventos/Lineamientos/Pro_Desnutrici%C3%B3n.pdf")

        +referenciaItem("Instituto Nacional de Salud. (2017). Protocolo vigilancia en salud pública. Vigilancia integrada de muertes en menores de cinco años por infección respiratoria aguda, enfermedad diarreica aguda o desnutrición, código 591.","https://www.ins.gov.co/buscador-eventos/Lineamientos/PRO%20Mortalidad%20en%20menores_.pdf")

        +referenciaItem("Instituto Nacional de Salud. (2018). Manual del usuario sistema aplicativo Sivigila.","http://idsn.gov.co/site/web2/images/documentos/epidemiologia/aplicativo/Manual_SIVIGILA_V9_Resaltado.pdf")

        +referenciaItem("Ministerio de la Protección Social. (9 de octubre de 2006). Decreto 3518 de 2006. Por el cual se crea y reglamenta el Sistema de Vigilancia en Salud Pública y se dictan otras disposiciones.","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Decreto-3518-de-2006.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (6 de mayo de 2016). Decreto 780 de 2016. Por medio del cual se expide el Decreto Único Reglamentario del Sector Salud y Protección Social. Diario Oficial N° 49.865.","https://www.minsalud.gov.co/Normatividad_Nuevo/Decreto%200780%20de%202016.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (Marzo de 2013). Plan Decenal de Salud Pública PDSP, 2012 - 2021.","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/ED/PSP/PDSP.pdf")

        +referenciaItem("Ministerio de salud. (1999). Resolución 1995 de 1999. Por la cual se establecen normas para el manejo de la historia clínica.","https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%201995%20DE%201999.pdf")

        +referenciaItem("Wisbaum W. (2011). La desnutrición infantil, causas, consecuencias y estrategias para su prevención y tratamiento. Unicef.","https://www.unicef.es/sites/unicef.es/files/comunicacion/Informe_La_desnutricion_infantil.pdf")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            